.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: green;
  color: white;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: darkgreen;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: red;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  margin-left: 1rem;
  font-weight: bold;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.button:hover .badge,
.button:active .badge {
  background-color: darkred;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
